/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
nav, footer, header, aside {
  display: block;
}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #636060;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
}

.text-content {
  font-size: 20px;
}

.second-title {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  color: #499A18;
}
/* ==== HEADER SECTION ==== */
.header-section {
  background: #EDF2EC;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 42px 0px;
}

.logo-link {
  display: flex;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 312%;
  color: #010201;
}

.logo-img {
    display: block;
}

.menu-list {
  display: flex;
}

/* .menu-item {
  cursor: pointer;
} */
.menu-item:not(:last-child) {
  margin: 0px 45px 0px 0px;
}

.menu-link {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 312%;
  color: #010201;
  transition: all 0.5s ease 0.5s;
}

.menu-link:hover {
  font-weight: 700;
  color: #E06733;
}
.menu-link__active {
  font-weight: 700;
  color: #E06733;
}
/* ------------------------ */

/* ==== BUTTON STYLES ====== */
.button {
  border: 2px solid #E06733;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease 0.5s;
}

.primary-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  padding: 14px 27px;
  color: #000000;
}

.button:hover {
  color: #FFFFFF;
  background: #E06733;
}

.button-secondary {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #E06733;
  width: 161px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* ------------------------- */

/* ==== WELCOME SECTION ==== */
.welcome-section {
  background: #EDF2EC;
}

.welcome-body {
  padding: 62px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-content {
  margin: 0px 0px 0px 224px;
}

.welcome-content > *:not(:last-child) {
  margin: 0px 0px 45px 0px;
}

.welcome-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 111%;
  color: #717171;
}

.welcome-title span {
  color: #499A18;
}

.welcome-text {
  line-height: 175%;
}
/* ------------------------ */

/* ===== ABOUT SECTION ===== */
.about-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-content {
  margin: 0px 153px 0px 0px;
}

.about-title span {
  color: #E06733;
}

.about-text {
  line-height: 150%;
}

.about-image {
  margin: 93px 0px;
}
/* ------------------------ */

/* ==== SERVICE SECTION ==== */
.service-section {
  background: #EDF2EC;
}

.service-container {
  padding: 40px 0px 120px;
}

.service-desc {
  display: flex;
  margin: 0px 0px 90px 0px;
}

.service-title {
  width: 306px;
}

.service-button__wrapper {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 142px;
}

.service-button__wrapper >*:not(:last-child) {
  margin: 0px 38px 0px 0px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  flex: 1 1 33.3333%;
}

.service-item {
  margin: 22.5px 0px;
}

.service-card {
  display: inline-block;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  width: 331px;
  text-align: center;
  padding: 0px 0px 35px 0px;
}

.service-card > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.card-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #E06733;
}
/* -------------------------- */

/* ===== PRICES SECTION ===== */
.prices-section {
  padding: 40px 0px 115px;
}
.prices-container {
  display: flex;
  justify-content: space-between;
}
.block {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  width: 332px;
  padding: 34px 41px;
}
.block__item {
  background: #EDF2EC;
  border-radius: 20px;
  margin: 0px 0px 20px 0px;
  position: relative;
}
.block__item.active {
  background: #D6E7D2;
}
.block__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
}
.arrow-closed {
  width: 16px;
  height: 16px;
  background: #D9D9D9;
  display: inline-flex;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-out;
}
.arrow-closed:before,
.arrow-closed:after {
  content: "";
  width: 3px;
  height: 0.5px;
  background: #717171;
  position: absolute;
  top: 8px;
  
  transition: all 0.3s ease 0s;
}
.arrow-closed:before {
  transform: rotate(-45deg);
  right: 5px;
}
.arrow-closed:after {
  transform: rotate(45deg);
  right: 7px;
}
.arrow-closed.active {
  background: #AEA1A1;
}
.arrow-closed.active:before {
  transform: rotate(45deg);
}
.arrow-closed.active:after {
  transform: rotate(-45deg);
}
.arrow-closed.active:before,
.arrow-closed.active:after {
  background-color: #ffffff;
}
.block__content {
  display: none;
  padding: 0px 40px 10px 40px;
}
.block__content p {
  
}
.block__content:before {
  content: "";
  border: 0.5px solid #AEA1A1;
  width: 164px;
  height: 0px;
  position: absolute;
  top: 46px;
}
.block__content-description {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 100%;
  color: #717171;
  width: 165px;
  
}
.block__content-price {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;    
  color: #000000;
  margin: 6px 0px 12px 0px;
}
.block__content-price span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #E06733;

}
.block__content-button-container {
}
.block__content-button {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #717171;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 3px 20px;
}
.prices-wrapper__left h2 {
  text-align: left;
  margin: 0px 0px 60px 0px;
}
.pices-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  text-align: right;
}
.pices-title span {
  color: #499A18;
}
.button-prices__wrapper {
  display: flex;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  margin: 60px 0px 0px 0px;
  padding: 34px 41px;
}
.button-prices__list > *:not(:last-child) {
  margin: 0px 0px 32px 0px;
}
.button-prices__item {

}
.button-prices {
  display: block;
}
.prices-wrapper__right {
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.prices-wrapper__right>*:not(:last-child) {
  margin: 0px 0px 38px 0px;
}
.button-secondary {
}
/* -------------------------- */

/* ==== CONTACT SECTION ==== */
.contact-section {
  background: #EDF2EC;
  padding: 60px 0px 0px 0px;
}
.contact-container {
  display: flex;
  justify-content: space-between;
}
.contact-image {
}
.contact-title__wrapper {
}
.contact-title {
}
.second-title {
}
.city-select {
  margin: 90px 0px 0px 0px;
}
.city {
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}
.city-list {
  display: block;
  appearance: none;
  outline: none;
  width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 40px 5px 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.05em;
  color: #717171;
  cursor: pointer;
}
.city-item {
}
.city-item-link {
}
/* -------------------------- */

/* ===== FOOTER SECTION ===== */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-column1,
.footer-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 250%;
  color: #000000;
}
.footer-column1 > *:not(:last-child) {
  margin-right: 20px;
}

.social-list {
  display: flex;
}

.social-list > *:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

/* -------------------------- */